{% extends 'panel.base.html.twig' %}

{% import "macro/table.twig" as tables %}

{% block title %}Profil Ucznia
{% endblock %}

{% block body %}
	<div class="w-75 m-auto">
		<h3 class="mb-3">Twoje Oceny</h3>
		{{ tables.marks_table(sortedMarks, false) }}
	</div>
</div>{% endblock %}
