{% extends 'panel.base.html.twig' %}

{% block title %}Dodaj Klase
{% endblock %}

{% block body %}
    <div class="w-50 m-auto">
        <h3>Dodaj Klase</h3>
        {{ form(form) }}
    </div>
{% endblock %}