{% extends 'panel.base.html.twig' %}

{% block title %}Dodaj przedmiot
{% endblock %}

{% block body %}
    <div class="w-50 m-auto">
        <h3 class="my-4">Dodaj przedmiot</h3>
        {{ form(createSubjectForm) }}
    </div>
{% endblock %}